[Desktop Entry]
Name=Contact Theme Editor
Name[ar]=محرّر سمات المتراسلين
Name[bs]=Editor tema za kontakte
Name[ca]=Editor de temes dels contactes
Name[ca@valencia]=Editor de temes dels contactes
Name[da]=Tema-editor til kontakter
Name[de]=Designeditor für Kontakte
Name[el]=Επεξεργαστής θεμάτων επαφών
Name[en_GB]=Contact Theme Editor
Name[eo]=Kontaktetosa Redaktilo
Name[es]=Editor de temas de Contact
Name[et]=Kontaktiteema redaktor
Name[eu]=Kontaktuen gai-editorea
Name[fi]=Yhteystietoteemamuokkain
Name[fr]=Éditeur de thème pour les contacts
Name[gl]=Editor de Temas de Contacto
Name[he]=עורך ערכת עיצוב אנשי קשר
Name[hu]=Névjegy téma szerkesztő
Name[ia]=Editor de thema de capite de KMail
Name[it]=Editor dei temi dei contatti
Name[ka]=თემის რედაქტორის კონტაქტი
Name[kk]=Контакт нақышының редакторы
Name[ko]=연락처 테마 편집기
Name[lt]=Adresatų apipavidalinimo redaktorius
Name[nb]=Redigering for kontakt-temaer
Name[nds]=Kontakt-Mustereditor
Name[nl]=Contactpersoon van themabewerker
Name[pl]=Wygląd kontaktów pocztowych
Name[pt]=Editor de Temas de Contactos
Name[pt_BR]=Editor de temas de contatos
Name[ru]=Редактор оформлений контактов
Name[sa]=विषय सम्पादक से संपर्क करें
Name[sk]=Editor tém Contact
Name[sl]=Urejevalnik tem stikov
Name[sr]=Уређивач тема контаката
Name[sr@ijekavian]=Уређивач тема контаката
Name[sr@ijekavianlatin]=Uređivač tema kontakata
Name[sr@latin]=Uređivač tema kontakata
Name[sv]=Temaeditor för kontakter
Name[tr]=Kişi Teması Düzenleyicisi
Name[ug]=ئۆرنەك تەھرىرى بىلەن ئالاقىلىشىش
Name[uk]=Редактор тем контактів
Name[x-test]=xxContact Theme Editorxx
Name[zh_CN]=联系人主题编辑器
Name[zh_TW]=聯絡人主題編輯器
Type=Application
Exec=contactthemeeditor
Icon=kaddressbook
X-DocPath=contactthemeeditor/index.html
GenericName=Contact Theme Editor
GenericName[ar]=محرّر سمات المتراسلين
GenericName[bs]=Editor tema za kontakte
GenericName[ca]=Editor de temes dels contactes
GenericName[ca@valencia]=Editor de temes dels contactes
GenericName[da]=Tema-editor til kontakter
GenericName[de]=Designeditor für Kontakte
GenericName[el]=Επεξεργαστής θεμάτων επαφών
GenericName[en_GB]=Contact Theme Editor
GenericName[eo]=Kontaktetosa Redaktilo
GenericName[es]=Editor de temas de Contact
GenericName[et]=Kontaktiteema redaktor
GenericName[eu]=Kontaktuen gai-editorea
GenericName[fi]=Yhteystietoteemamuokkain
GenericName[fr]=Éditeur de thème pour les contacts
GenericName[gl]=Editor de Temas de Contacto
GenericName[he]=עורך ערכת עיצוב אנשי קשר
GenericName[hu]=Névjegy téma szerkesztő
GenericName[ia]=Editor de thema de Contacto (Contact Theme Editor)
GenericName[it]=Editor dei temi dei contatti
GenericName[ka]=თემის რედაქტორის კონტაქტი
GenericName[kk]=Контакт нақышының редакторы
GenericName[ko]=연락처 테마 편집기
GenericName[lt]=Adresatų apipavidalinimo redaktorius
GenericName[nb]=Redigering for kontakt-temaer
GenericName[nds]=Kontakt-Mustereditor
GenericName[nl]=Contactpersoon van themabewerker
GenericName[pl]=Edytor wyglądu kontaktów pocztowych
GenericName[pt]=Editor de Temas de Contactos
GenericName[pt_BR]=Editor de temas de contatos
GenericName[ru]=Редактор оформлений контактов
GenericName[sa]=विषय सम्पादक से संपर्क करें
GenericName[sk]=Editor tém Contact
GenericName[sl]=Urejevalnik tem stikov
GenericName[sr]=Уређивач тема контаката
GenericName[sr@ijekavian]=Уређивач тема контаката
GenericName[sr@ijekavianlatin]=Uređivač tema kontakata
GenericName[sr@latin]=Uređivač tema kontakata
GenericName[sv]=Temaeditor för kontakter
GenericName[tr]=Kişi Teması Düzenleyicisi
GenericName[ug]=ئۆرنەك تەھرىرى بىلەن ئالاقىلىشىش
GenericName[uk]=Редактор тем контактів
GenericName[x-test]=xxContact Theme Editorxx
GenericName[zh_CN]=联系人主题编辑器
GenericName[zh_TW]=聯絡人主題編輯器
Categories=Qt;KDE;Office;Network;ContactManagement;
InitialPreference=10
