[Desktop Entry]
Name=KMail Header Theme Editor
Type=Application
Exec=headerthemeeditor
Icon=kmail
X-DocPath=headerthemeeditor/index.html
GenericName=Mail Header Theme Editor
Terminal=false
Categories=Qt;KDE;Office;Network;Email;
InitialPreference=10
X-DBUS-ServiceName=org.kde.headerthemeeditor
